body{
    margin: 0;
    padding: 0;;
}
img{
    width: 100%;
    height: auto;
    display: block;
}
.image-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   gap: 10px;
   padding: 10px;
}
@media screen and (max-width: 800px){
    .image-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width: 500px){
    .image-container{
        grid-template-columns: 1fr;
    }
}