header{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    padding: 20px 30px;
}
section{
    display: block;
    width: 100%;
    padding: 10px 0px;
}
footer{
    display: block;
    width: 100%;
    padding: 10px 0px;
}
@media screen and (max-width: 600px) {
    header{
    background-color: blue;
    }
}
    